In [8]:
import pandas as pd


df = pd.read_csv('final_preprocessed_df.csv')

# Display the first 5 rows
df.head()

,listing_id,date,reviewer_id,comments,name,description,host_id,host_name,host_since,host_is_superhost,...,availability_365,number_of_reviews,review_scores_rating,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,review_duration_years,location
0,307621,2013-04-02,854161,"We rented this apartment for visiting family, ...","SunBird, Sunny Apt in Quiet Street",Sunflower guarantees you a pleasant stay in Am...,1141485,Gisèle And Simon,2011-09-11,f,...,0,6,4.83,5.0,5.0,5.0,5.0,f,9,Amsterdam
1,307621,2015-10-24,43007315,SunBird Apt is just as described - a light and...,"SunBird, Sunny Apt in Quiet Street",Sunflower guarantees you a pleasant stay in Am...,1141485,Gisèle And Simon,2011-09-11,f,...,0,6,4.83,5.0,5.0,5.0,5.0,f,9,Amsterdam
2,307621,2023-03-07,2288304,I enjoyed my time staying at Gisèle and Simon'...,"SunBird, Sunny Apt in Quiet Street",Sunflower guarantees you a pleasant stay in Am...,1141485,Gisèle And Simon,2011-09-11,f,...,0,6,4.83,5.0,5.0,5.0,5.0,f,9,Amsterdam
3,307621,2023-03-15,143967609,This home was perfect for my husband and I on ...,"SunBird, Sunny Apt in Quiet Street",Sunflower guarantees you a pleasant stay in Am...,1141485,Gisèle And Simon,2011-09-11,f,...,0,6,4.83,5.0,5.0,5.0,5.0,f,9,Amsterdam
4,307621,2023-03-23,184096708,Gisèle And Simon were such great hosts. They r...,"SunBird, Sunny Apt in Quiet Street",Sunflower guarantees you a pleasant stay in Am...,1141485,Gisèle And Simon,2011-09-11,f,...,0,6,4.83,5.0,5.0,5.0,5.0,f,9,Amsterdam

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
df_combined = df.groupby('listing_id')['comments'].apply(lambda x: ' '.join(x)).reset_index()
vocab = df_combined['comments']
vectorizer = TfidfVectorizer()
tf_idf_matrix = vectorizer.fit_transform(vocab)
vectorizer.get_feature_names_out()
print(tf_idf_matrix.shape)
tfidf_df = pd.DataFrame(tf_idf_matrix.toarray(), columns=vectorizer.get_feature_names_out(), index=df_combined['listing_id'])
tfidf_df.head()

               listing_id                                           comments
0                    2818  Daniel is really cool. The place was nice and ...
1                   27886  Excellent accommodation, close to everything, ...
2                   29051  Not a long ago I stood at  Downtown Guesthouse...
3                   48373  really enjoyed ourselves,  Thank you Great sta...
4                   49552  I do loved to stay there, it was so nice, i do...
...                   ...                                                ...
6552  1166649319420227932  This Airbnb was fantastic.<br/>The location is...
6553  1167159312061010475  magnifique petite péniche très agréable, un ma...
6554  1170283819399413016  wszytko jak należy. polecam Een beetje een cha...
6555  1172438754038218616               Beautiful apartment for short stays!
6556  1173897774631612821  Ein guter Gastgeber, freundlich und eine Perso...

[6557 rows x 2 columns]
(6557, 176593)

,00,000,00316,00am,00h,00h30,00hrs,00hs,00ish,00p,...,힘뚫ㄹ었써요,힘을,힘이,힙한,１日だけでしたがプライベートが確保されていてとても満足でした,１週間滞在したので,２階と３階では不安定だったので,３人で約１ヶ月間の滞在を,７０匹以上殺しました,ｗｉｆｉ十分快
listing_id,,,,,,,,,,,,,,,,,,,,,
2818,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27886,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29051,0.004358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48373,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49552,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0